.section-about
    background-image: url('../img/about-bg.jpg')
    background-position: center 
    background-size: cover
    background-attachment: fixed
    .img-about
        img
            width: 200px
            
    
        
    
