#contact
    i
        display: flex
        float: left
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        background-color: #cda45f
        border-radius: 50%
    h2 
        padding-left: 40px
    p
        padding-left: 50px
        
        