#home
    background-image: url('../img/hero-bg.jpg')
    background-position: center
    background-size: cover
    background-attachment: fixed
    height: 100vh
    i
        float: right
        font-size: 25px
        padding: .5em
        height: 50px
        width: 50px
        background-color: yellow
        color: white
        border-radius: 50%
    
        
    