.section-color
    background-color: blue
.option

    li
        display: inline-block
        padding-right: 0.5em
        
.menu-img
    display: block
    margin-top: 1em
    img
        width: 70px
        border: 2px solid gray
        float: left
    .liste-menu
        display: flex
        justify-content: space-between
        