
.cadre
    background-color: #444444
    
        
    
    transition: all ease-in-out 0.5s
    &:hover
        background-color: #cda45e
        span
            color: white !important

        

        
        
        
