
.cadre
    background-color: #444444
    padding: 3em 1.5em
    transition: all ease-in-out 0.5s
    &:hover 
        color: white
        background-color: #cda45e
        span
            color: white

        
        
        
